@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: playfair display, serif;
}
html{
    font-size:62.5%;

}
body{
    width:100%;
    height:100vh;
    background-color:black;
    color:white;
}
header{
    margin-top:20px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding:1rem 9% ;
    background-color: transparent;
    filter:drop-shadow(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 6rem;
    font-weight: 500;
    color: rgb(224, 223, 233);
    coursor: pointer;
    transition: 0.5s ease;

}
.logo:hover{
    color: rgb(21, 1, 1);
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    margin-left: 4rem;
    color: white;
    transition: 0.5s ease;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: rgb(10, 4, 206);
    border-bottom: 3px solid rgb(27, 22, 160);
}
@media (max-width:995px){
nav{
    position: absolute;
    top:100%;
    left:0;
    width: 40%;
    border-left: 3px solid rgb(8, 3, 161);
    border-bottom: 3px solid rgb(17, 10, 200);
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: rgb(16, 1, 1);
    border-top:0.1rem solid rgb(12, 48, 251)
}
}
nav.active{
    display:block;
}
nav a{
    display: block;
    font-size:2rem;
    margin: 3rem 0;

}
nav a:hover,
nav a.active{
padding:1rem;
    border-radius:0.5rem ;
    border-bottom: 0.5rem solid rgb(213, 184, 193);

}
    

section{
min-height:100vh;
padding:5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size:6rem;
    font-weight:700;
    line-height:1.3;
}
   span{
    color:rgb(56, 18, 246)
   }
.home .home-content h3{
    font-size:4rem;
    margin-bottom:1rem;
    font-weight:700;
}
  .home-img{
    border-radius:50%;

  }  
 .home-img img{
    position:relative;
    width: 32vh;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(227, 227, 233);
    cursor:pointer;
    transition: 0.2s linear;
}
    .home-img img:hover{
        font-size:1.8rem;
        font-weight:500;
    }
    .social-icons a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width:4rem;
        height:4rem;
        background-color:transparent;
        border:0.2rem solid rgb(207, 193, 197);  
        font-size:2rem;
        border-radius:50%;
        margin:3rem 1.5rem 3rem;
        transition: 0.3s ease;
    }

    .social-icons a:hover{
        color:rgb(220, 198, 198);
        transform: scale(1.3) translateY(-5px);
        background-color: rgb(52, 49, 152) ;
        box-shadow: 0 0 25px rgb(11, 4, 217);
    }
    